{% extends 'index.html' %}
{% load static %}



  {% block content %}
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/flags1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">Председатели профсоюзных организаций филиалов ПАО "Ростелеком"</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Главная</a></span></p>
          </div>
        </div>
      </div>
    </section>

<!--Ячейка с председателем-->


    <section class="ftco-section">
    	<div class="container-fluid px-md-5">
        <div class="row">

        {% for fili in filial %}
        	<div class="col-lg-3 col-sm-6">
        		<div class="block-2 ftco-animate">
	            <div class="flipper">
	              <div class="front" style="background-image: url({{ fili.chairman_photo.url }});">
	                <div class="box">
	                  <h2>{{ fili.name }}</h2>
	                  <h6 style="color: white;">{{ fili.position }}</h6>
	                </div>
	              </div>
	              <div class="back">
	                <!-- back content -->

						<div class="box" style="color: white;">
	                  <h4 class=" ml-4 mb-3 mt-3" style="color: white;">{{ fili.name_organisation }}</h4>
						<div class=" ml-4 mb-3 ">{{ fili.address }}</div>
						<div class=" ml-4 mb-3" >{{ fili.phones_num }}</div>
						<div class=" ml-4 mb-3">{{ fili.e_mail }}</div>
						</div>

	                <div class="author d-flex">

	                  <div class="name align-self-center ml-3">{{ fili.name }} <h6 style="color: white;">{{ fili.position }}</h6></div>
	                </div>
	              </div>
	            </div>
	          </div>
        	</div>

       {% endfor %}

        </div>
    	</div>
    </section>



     {% endblock content%}
